.header{
  margin-top: 5%;
}

h1 {
  text-align: center
}

.image {
  max-width: 100px;
  margin-left: 45%;
  margin-bottom: 25px;
  margin-top: 25px;
}

body {
  font-family: 'Yusei Magic', sans-serif;
  background-color: orange;
  color: black;
}

.mainContent{
  margin-left: 15%;
}


.columnOne, .columnTwo {
  background-color: rgb(226, 201, 154);
  
}


#create-form{
  margin-left: 45%;
  margin-top: 25px;
  margin-bottom: 25px;
}

h3 {
  text-align: center
}